<header class="header">
    <div class="row">
        <h1 class="col-8 offset-md-4">{{titulo}}</h1>
    </div>
    <div>
        <h3>{{subtitulo}}</h3>
    </div>
    <div class="container">
        <div class="row col-12" id="content">
            <div class="col-8 card mp-6" >
                <h4>Descripci&oacute;n</h4>
                <p>Soy una persona orientada hacia las metas y objetivos personales como también de la
                    organización, aplicando mis conocimientos y habilidades para el lograr así un trabajo coordinado 
                    que permita el crecimiento de la empresa, así como el mío personal y profesional. </p>
            </div>
            <div class="col-4">
                <img src="./assets/img/Vanessa.jpg" alt="" type="image" class="rounded-circle">
            </div>
        </div>
    </div>
</header>
